  .page {
    --background: #f8f1e3;
    --foreground: #f8f1e3;

    --text-primary: #203E1E;
    --text-secondary: #585123;

    --button-primary-hover: #294F26;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-hover-text: #FFFFF8;
    --button-secondary-border: solid 1px #1a1a1a;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.intro {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;
  text-align: left; */
  gap: 24px;
}

.main h1,
.main h2
{
  padding-top: 4rem;
}


.main h1, 
.main h2, 
.main h3 {
  text-align: center;
  font-weight: 700;
  color: var(--text-primary); 
}

.main p {
  font-size: 18px;
  text-align: center;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
  font-weight: 700; 
  padding: .75em;
  border-radius: 8px;
  width: 100%;
}

a.secondary {
  color: var(--text-secondary);
  border: solid 1px #999;
  padding: .75rem;
  border-radius: 8px;
  font-weight: 700; 
  width: 100%;
}

a.primary:hover {
  background: var(--button-primary-hover);
  border-color: transparent;
}

a.secondary:hover {
  background: var(--button-secondary-hover);
  border-color: transparent;
  color: var(--button-secondary-hover-text);
}

/* .featured {
  padding-bottom: 2rem;
} */

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  text-align: center;
}

.featured {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

/* .why {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  gap: 24px;
} */

.whyImage {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 0;
}

@media (min-width: 600px) {
  .main {
    padding: 48px 24px;
  }
  
  .main h1,
  .main h2,
  .main h3 {
    width: 100%;
    text-align: center;
  }


  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
  
  a.primary,
  a.secondary {
    width: 50%;
  }

  a.secondary {
    margin: 0 auto;
  }

  .buttons {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    gap: 24px;
  }

  /* .featured {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
} */

    .why {
      display: flex;
    }
}

